{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_tittle %} {{ tittle }} {% endblock head_tittle %}</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
  </head>
  <body class="min-h-screen flex items-center">
    {% include 'snippets/navbar.html' %}
    <!--block-->
    {% block content %}
    <!--endblock-->
    {% endblock content %}
  </body>
</html>
