{% extends 'base.html' %}
<!-- get static folder -->
{% load static %}
{% block head_tittle %} {{ tittle }} {% endblock head_tittle %}
<!-- content -->
{% block content %}
<div class="max-w-md mx-auto border py-8 px-8 rounded-lg shadow-xl">
  <div class="flex items-center space-x-6">
    <img class="w-12 h-12 rounded-full" src="{% static 'images/vreedom.jpeg' %}" alt="banner">
    <div class="space-y-0.3">
      <p class="text-2xl font-semibold text-black">{{ name }}</p>
      <p class="text-slate-600 font-medium">{{ jobs }}</p>
    </div>
    <button class="border px-5 py-1 rounded-full text-slate-600 border-blue-600 font-semibold hover:bg-blue-500 hover:text-white hover:border-transparent hover:ring-2 hover:ring-blue-700 hover:ring-offset-2">
      View Profile
    </button>
  </div>
  <p class="text-xl mx-auto text-slate-600 mt-2">{{ title }}</p>
</div>

{% endblock content %}
